<%= stylesheet_link_tag "browsing_index", :media => "all" %>

<h1>過去の閲覧履歴</h1>
<% num = 1 %>
<table border="1" class="browsing">
	<tr>
		<th></th><th>閲覧日</th><th>タイトル</th><th>価格</th><th>サイズ</th><th>詳細</th><th>リンク</th>
	</tr>
	<% @browsing_histories.each do |history| %>
		<tr>
			<td><%= num %>. </td>
			<td>　<%= history.day.strftime('%Y年%m月%d日 %H:%M') %>　</td>
			<td>　<%= history.material.title %>　</td>
			<td>　<%= history.material.price %>　</td>
			<td>　<%= history.material.size %>　</td>
			<td>　<%= history.material.detail %>　</td>
			<td>　<%= link_to "商品詳細へ", material_path(history.material.id) %>　</td>
		</tr>
		<% num += 1 %>
	<% end %>
</table>
<ul class="links">
	<li class="links"><%= link_to "商品一覧ページ", materials_path %></li>
</ul>