<% if @change_order.errors.any? %>
	<div id="error_explanation">
		<ul>
		<% @change_order.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
	</div>
<% end %>

<%= form_for @change_order do |f| %>
	<div class="field">
		<%= f.label :name, "Name" %>
		<%= f.text_field :name %>
	</div>
	<br>
	<div class="field">
		<%= f.label :postal, "Postal_code" %>
		<%= f.text_field :postal %>
	</div>
	<div class="field">
		<%= f.label :address, "Adderess" %>		
		<%= f.text_field :address %>
	</div>
	<br>
	<div class="field">
		<%= f.label :payment_method, "Payment_method" %>
		<%= f.select( :payment_method,
		 { '代金引換' => 1, '銀行振込' => 2, 'カード払い' => 3 },
		 { include_blank: '選択してください'},
		 {id: 'info'}) %>
	</div>

	<div id='card_info'>
	</div>
	<br>
	<div id='defo_info'>
		<% if @change_order.payment_method == 3 %>
			<%= render 'shared/form_card' %>
		<% end %>
	</div>
	<script type="text/javascript">
		$(document).ready(function(){
			$('#info').change(function(){
				var num = $('#info').val();
				if(num == 3){
					$.get("<%= new_card_info_path %>")
				}else{
					$('#card_info').html("手数料がかかります！");
				}
			});
		});
	</script>

	<div class="field">
		<%= f.label :phone_number, "Phone_number" %>
		<%= f.text_field :phone_number %>
	</div>
	<div class="field">
		<%= f.submit "登録" %>
	</div>
<% end %>