<div class="all">
	<br>
	<% if @information.errors.any? %>
		<div id="error_explanation">
			<ul class="links">
			<% @information.errors.full_messages.each do |msg| %>
				<% msg.gsub!("Postal", "Postal code") %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>
	<%= form_for @information do |f| %>
		<span class="label">
			<%= f.label :name, "Name" %>
		</span>
		<span class="form">
			<%= f.text_field :name %>
		</span>
		<br>
		<span class="label">
			<%= f.label :postal, "Postal code" %>
		</span>
		<span class="form">
			<%= f.text_field :postal %>
		</span>
		<br>
		<span class="label">
			<%= f.label :address, "Address" %>
		</span>
		<span class="form">
			<%= f.text_field :address %>
		</span>
		<br>
		<span class="label">
			<%= f.label :phone_number, "Phone number" %>
		</span>
		<span class="form">
			<%= f.text_field :phone_number %>
		</span>
		<br>
		<span class="label">
			<%= f.label :payment_method, "Payment method" %>
		</span>
		<span class="form">
			<%= f.select(:payment_method,
			 { '代金引換' => 1, '銀行振込' => 2, 'カード払い' => 3 },
			 { include_blank: '選択してください'},
			 { id: 'info'}) %>
		</span>

		<div id='card_info'>
		</div>
			
		<div id='defo_info'>
			<% if @information.payment_method == '3' %>
				<%# @card_info ||= CardInfo.find_or_create_by(self_information_id: @self_information.id)
 %>
				<%= render 'shared/form_card' %>
			<% elsif @information.payment_method == 3 %>
				<%# @card_info = @information.card_info if @information.card_info %>
				<%= render 'shared/form_card' %>
			<% end %>
		</div>


		<script type="text/javascript">
			$(document).ready(function(){
				$('#info').change(function(){
					var num = $('#info').val();
					if(num == 3){
						$.get("<%= new_card_info_path %>")
						$('#defo_info').fadeOut();
					}else if(num == 1){
						$('#card_info').html("<p class='pay'>　手数料がかかります！</p>");
						$('#defo_info').fadeOut();
					}else{
						$('#card_info').html("");
						$('#defo_info').fadeOut();
					}
				});
			});
		</script>
		<br>
		<br>
		<div class="action">
			<%= f.submit "送信" %>
		</div>
	<% end %>
</div>