<% if @member.self_information.errors.any? %>
	<div id="error_explanation">
		<ul class="links">
		<% @member.self_information.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
	</div>
<% end %>

<%= fields_for @member.self_information do |af| %>
	<span class="label">
		<%= af.label :name, "Name" %>
	</span>
	<span class="form">
		<%= af.text_field :name %>
	</span>
	<br>
	<span class="label">
		<%= af.label :postal, "Postal_code" %>
	</span>
	<span class="form">
		<%= af.text_field :postal %>
	</span>
	<br>
	<span class="label">
		<%= af.label :address, "Address" %>
	</span>
	<span class="form">
		<%= af.text_field :address %>
	</span>
	<br>
	<span class="label">
		<%= af.label :phone_number, "Phone_number" %>
	</span>
	<span class="form">
		<%= af.text_field :phone_number %>
	</span>
	<br>
	<span class="label">
		<%= af.label :payment_method, "Payment_method" %>
	</span>
	<span class="form">
		<%= af.select(:payment_method,
		 { '代金引換' => 1, '銀行振込' => 2, 'カード払い' => 3 },
		 { include_blank: '選択してください'} ,
		 {id: 'info'}) %>
	</span>

	<div id='card_info'>
	</div>
	<br>
	<div id='defo_info'>
		<% if @member.self_information.payment_method == '3' %>
			<%= render 'shared/form_card' %>
		<% end %>
	</div>

	<script type="text/javascript">
		$(document).ready(function(){
			$('#info').change(function(){
				var num = $('#info').val();
				if(num == 3){
					$.get("<%= new_card_info_path %>")
					$('#defo_info').fadeOut();
				}else if(num == 1){
					$('#card_info').html("手数料がかかります！");
					$('#defo_info').fadeOut();
				}else{
					$('#card_info').html("");
					$('#defo_info').fadeOut();
				}
			});
		});
	</script>
	<br>
<% end %>