<h1><%= @name %>様の買い物詳細</h1>
<%= @order.shopping_cart_id %>
<div id="info">
	<h2>＜登録情報＞</h2>
	宛先：<%= @order.name %>様<br>
	住所：<%= @order.address%><br>
	電話番号：<%= @order.phone_number %><br>
	支払い方法：<%= @order.payment_method %><br>
</div>
<dev id="material">
	<h2>＜購入品＞</h2>
	<% sum = 0 %>
	<% @cart_details.each do |cart_detail| %>
		・<%= cart_detail.material.title %>： <%= cart_detail.material.price %>　×　<%= cart_detail.num %>(個)　：　<%= link_to "商品詳細", material_path(cart_detail.material.id) %><br>
		<% sum += (cart_detail.material.price.to_i * cart_detail.num.to_i) %>
	<% end %>
	<h2>合計金額：<%= sum %>円</h2>
</div>
<br>
<%= link_to "戻る", orders_path %>