<%= stylesheet_link_tag "members_index", :media => "all" %>
<h1>商品一覧</h1>
<div class="greeting">
	<% if session[:name] != "" %>
	<%= session[:name] %>さん
	<% end %>
	<%= Material.get_greeting %>
	<p id="msg"><%= flash[:msg] %></p>
</div>

<div class="category">
	<%= form_tag({controller: :materials}, method: :get, id: :category) do%>
		<%= select_tag :category, options_for_select({ Category.get_category(0) => 0, Category.get_category(1) => 1, Category.get_category(2) => 2 }, params[:category]) %>
	  <%= submit_tag '検索' %>
	<% end %>
</div>
<div class="sc_link">
	<%= link_to "SCページへ", shopping_carts_path %>
</div>
<table border="2">
	<tr>
		<th>タイトル</th><th>価格(税抜)</th><th>サイズ</th><th>詳細</th><th>カテゴリ</th><th>リンク</th>
	</tr>

	<% @materials.each do |material| %>
		<tr>
			<td><%= material.title %></td>
			<td><%= Material.more_than_thousant?(material.price) %></td>
			<td><%= material.size %></td>
			<td><%= material.detail %></td>
			<td><%= Category.get_category(Category.find_by(material_id: material.id).category) %></td>
			<td><%= link_to "商品詳細へ", material_path(material.id) %></td>
		</tr>
	<% end %>
</table>

<% if session[:name] != "" %>
	<ul class="links">
		<li class="links"><%= link_to "閲覧履歴ページ", browsing_histories_path %></li>
		<li class="links"><%= link_to "購入履歴ページ", orders_path(:id => 0) %></li>
		<li class="links"><%= link_to "個人情報変更", edit_self_information_path(@info_id) %></li>
	</ul>
<% end %>
