<div>
	会員用ログイン
	<%= form_tag({action: :judge_member}) do%>
	  <%= label_tag :user_id, "User ID" %>
	  <%= text_field_tag :user_id %>
	  <br>
	  <div class="field">
		  <%= label_tag :password, "Password" %>
		  <%= password_field_tag :password %>
		</div>
		<br>
	  <%= submit_tag '会員' %>
	<% end %>
	<br>
	<br>
	会員ではない人
	<br>
	<%= link_to "一般ログイン", controller: :materials %>
	<br>
	<br>
	新規登録したい人
	<br>
	<%= link_to "登録画面", new_member_path %>
</div>
test
<%#= link_to "test", action: "error_page" %>