<%= stylesheet_link_tag "members_new", :media => "all" %>
<h1>個人情報登録</h1>
<div class="all">
	<h3>パスワード,個人情報を入力してください.</h3>
	<% if @member.errors.any? %>
		<div id="error_explanation">
			<ul>
			<% @member.errors.full_messages.each do |msg| %>
				<% if msg == "Password confirmation doesn't match Password" %>
					<% msg = "Password ：正しく入力してください" %>
					<%# next if @member.password_confirmation %>
				<% elsif msg == "Password confirmation can't be blank" %>
					<% msg = "Password ：確認用も入力してください"%>
				<% elsif msg == "Password can't be blank" || msg == "Self information is invalid" %>
					<% next %>
				<% end %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>
	<br>
	<%= form_for @member do |f| %>
		<div class="password_field">	
			<%= f.label :password, "Password" %>
			<%= f.password_field :password %>
			<%= f.hidden_field :user_id %>
		</div>
		<br>
		<div class="password_field">
	  	<%= f.label :password_confirmation, "Password_conf" %>
	   	<%= f.password_field :password_confirmation %>
		</div>

		<br>
		<%= render 'shared/form' %>
		<div class="action">
			<%= f.submit "登録" %>
		</div>
	<% end %>
</div>