<h1>個人情報登録</h1>

パスワード,個人情報を入力してください.
<br>
<p id="notice"><%= notice %></p>
<% flash.discard[:notice] %>
<%= form_for @member do |f| %>
	<div class="password_field">
		<br>
		<%= f.label :password, "PASSWORD" %>
		<%= f.password_field :password %>
		<%= f.hidden_field :user_id %>
	</div>
	<br>
	<div class="password_field">
  	<%= f.label :password_confirmation, "パスワード再入力" %>
   	<%= f.password_field :password_confirmation %>
	</div>
	
	<br>
	<%= render 'shared/form' %>
	<br>
	<%= f.submit "登録" %>
<% end %>